.app_dark_theme {
    --bg-color: blue;
    --inverted-bg-color: rgb(208 208 209);
    --primary-color: green;
    --secondary-color: rgb(11 197 11);
    --inverted-primary-color: rgb(41 0 177);
    --inverted-secondary-color: rgb(41 0 153);
}
