.app.light {
    --bg-color: rgb(208, 208, 209);
    --inverted-bg-color: blue;

    --primary-color: rgb(218, 30, 30);
    --secondary-color: rgb(236, 229, 255);
    --inverted-primary-color: green;
    --inverted-secondary-color: rgb(11, 197, 11);
}
